/* Apply a global reset to remove default padding and margin */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  /* Style the form container */
  form {
    max-width: 500px;
    margin: 0 auto;   
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    background-image: url("https://img.freepik.com/free-photo/grey-metallic-jeep-with-blue-stripe-it_114579-4080.jpg?size=626&ext=jpg&ga=GA1.1.1667490823.1679980570&semt=ais");
  }
  
  /* Style the form labels */
  label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  
  /* Style the form inputs */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="time"],
  input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: black;
  }
  
  /* Style the form submit button */
  

  #goo3 {
    display: block;
    background-color: #c90202;
    color: rgb(255, 254, 254);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border:0px;
    border-radius: 5px;
    margin-top: 20px;
    
  }
  
  
  /* Style the form checkboxes */
  input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Style the form error messages */
  input:invalid {
    border: 1px solid red;
  }
  
  input:focus:invalid {
    outline: none;
    border: 1px solid red;
  }
  