<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="car checkout.css">
    <link rel="stylesheet" href="car checkout.js">
</head>
<body>
    
    <h2>Car Check-in Form</h2>
<form id="checkin-form" class="form-background">
  <label for="license-plate-number">License Plate Number:</label>
  <input type="text" id="license-plate-number" name="license-plate-number"><br>

  <label for="arrival-date-time">Arrival Date and Time:</label>
  <input type="datetime-local" id="arrival-date-time" name="arrival-date-time"><br>

  <label for="driver-name">Driver's Name:</label>
  <input type="text" id="driver-name" name="driver-name"><br>

  <label for="driver-contact-info">Driver's Contact Information:</label>
  <input type="text" id="driver-contact-info" name="driver-contact-info"><br>

  <label for="purpose-of-visit">Purpose of Visit:</label>
  <input type="text" id="purpose-of-visit" name="purpose-of-visit"><br>

  <label for="additional-notes">Additional Notes:</label>
  <textarea id="additional-notes" name="additional-notes"></textarea><br>

  <input type="submit" value="Check-in">
</form>

<h2>Car Check-out Form</h2>
<form id="checkout-form" class="form-background">
  <label for="license-plate-number">License Plate Number:</label>
  <input type="text" id="license-plate-number" name="license-plate-number"><br>

  <label for="departure-date-time">Departure Date and Time:</label>
  <input type="datetime-local" id="departure-date-time" name="departure-date-time"><br>

  <label for="duration-of-stay">Duration of Stay:</label>
  <input type="text" id="duration-of-stay" name="duration-of-stay"><br>

  <label for="total-amount-due">Total Amount Due:</label>
  <input type="text" id="total-amount-due" name="total-amount-due"><br>

  <label for="driver-signature">Driver's Signature:</label>
  <input type="text" id="driver-signature" name="driver-signature"><br>

  <label for="additional-notes">Additional Notes:</label>
  <textarea id="additional-notes" name="additional-notes"></textarea><br>

  <input type="submit" value="Check-out">
</form>


</body>
</html>