<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>
    <link rel="stylesheet" href="details.css">
</head>
<body>
    <div class="car-details">
        <img src="https://img.freepik.com/free-photo/white-offroader-jeep-parking_114579-4007.jpg?size=626&ext=jpg&ga=GA1.2.1667490823.1679980570&semt=sph" alt="Car Image" class="car-image">
        <h4 class="car-name">Volvo XC90</h4>
        
        <ul class="car-info">
            <li class="car-info-item">
                <span class="info-text">Price:</span>
                <h4>3000/- per day</h4>
            </li>
            <li class="car-info-item">
                <img src="https://img.freepik.com/free-vector/illustration-chairs_53876-35820.jpg?size=626&ext=jpg&ga=GA1.1.1667490823.1679980570&semt=ais" alt="Seat Icon" class="info-icon">
                <span class="info-text">4 Seats</span>
            </li>
            <li class="car-info-item">
                <img src="https://img.freepik.com/premium-vector/love-story-line-icon-love-partner-heart-book-bookmark-memory-remember-favorite-relationship-concept-vector-line-icon-business-advertising_399089-4766.jpg?size=626&ext=jpg&ga=GA1.2.1667490823.1679980570&semt=ais" alt="Mileage Icon" class="info-icon">
                <span class="info-text">20 MPG</span>
            </li>
            <li class="car-info-item">
                <img src="https://img.freepik.com/premium-vector/speedometer-logo-fast-speed-concept-fast-icon-design-vector_18099-3711.jpg?size=626&ext=jpg&ga=GA1.1.1667490823.1679980570&semt=ais" alt="Speed Icon" class="info-icon">
                <span class="info-text">300 MPH</span>
            </li>
            <li class="car-info-item">
                <img src="https://img.freepik.com/free-vector/neon-icon-mechanic-tools-pedals_1262-14768.jpg?size=626&ext=jpg&ga=GA1.1.1667490823.1679980570&semt=ais" alt="Engine Icon" class="info-icon">
                <span class="info-text">2.5L 6-cylinder</span>
            </li>
            <li class="car-info-item">
                <img src="https://img.freepik.com/free-vector/infograhic-template-design_1262-222.jpg?size=626&ext=jpg&ga=GA1.1.1667490823.1679980570&semt=ais" alt="Transmission Icon" class="info-icon">
                <span class="info-text">6-speed automatic</span>
            </li>
            <li class="car-info-item">
                <img src="https://img.freepik.com/premium-vector/wheel-icon-logo-element-illustration-wheel-symbol-design-from-2-colored-collection-simple-wheel-concept-can-be-used-web-mobile_159242-5063.jpg?size=626&ext=jpg&ga=GA1.1.1667490823.1679980570&semt=ais" alt="Drivetrain Icon" class="info-icon">
                <span class="info-text">autosport</span>
            </li>
        </ul>
    </div>
    <div>
        <center><button id="goo1"><a class="nav-link" href="autosport.html" id="go">Book to Home</a></button>
        <button id="goo1"><a class="nav-link" href="book form.html" id="go">Book Now</a></button></center>
    </div>
</body>
</html>